{
  "presets": ["@babel/preset-env", "@babel/preset-react"],
  "plugins": [
    "@babel/plugin-transform-runtime",
    "@babel/proposal-class-properties",
    "@babel/proposal-object-rest-spread",
    [
      "babel-plugin-styled-components",
      {
        "displayName": false,
        "ssr": false,
        "fileName": false,
        "minify": false,
        "transpileTemplateLiterals": false,
        "pure": false // dead code elemination
        // TODO: adopt for production
      }
    ]
  ],
  "env": {
    // only enable it when process.env.NODE_ENV is 'development' or undefined
    "development": {
      "plugins": []
    }
  }
}
