{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          // https://kangax.github.io/compat-table/es6/
          "edge": "17",
          "firefox": "60",
          "chrome": "67",
          "safari": "11.1"
        }
      }
    ],
    "@babel/preset-typescript",
    "@babel/preset-react"
  ],
  "env": {
    // only enable it when process.env.NODE_ENV is 'development' or undefined
    "development": {
      "plugins": [
        [
          "styled-components",
          {
            "displayName": true,
            "ssr": false,
            "fileName": false,
            "minify": false,
            "transpileTemplateLiterals": false,
            "pure": false
          }
        ]
      ]
    },
    "production": {
      "plugins": [
        [
          "styled-components",
          {
            "displayName": false,
            "ssr": true,
            "fileName": false,
            "minify": true,
            "transpileTemplateLiterals": true,
            "pure": true
          }
        ]
      ]
    }
  },
  "plugins": [
    "@babel/plugin-transform-runtime",
    "@babel/proposal-class-properties",
    "@babel/proposal-object-rest-spread"
  ]
}
