{
  "presets": [
    "@babel/preset-typescript",
    "@babel/preset-env",
    "@babel/preset-react"
  ],
  "env": {
    // only enable it when process.env.NODE_ENV is 'development' or undefined
    "development": {
      "plugins": [
        [
          "styled-components",
          {
            "displayName": true,
            "ssr": true,
            "fileName": false,
            "minify": false,
            "transpileTemplateLiterals": false,
            "pure": false
          }
        ]
      ]
    },
    "production": {
      "plugins": [
        [
          "styled-components",
          {
            "displayName": false,
            "ssr": true,
            "fileName": false,
            "minify": false,
            "transpileTemplateLiterals": false,
            "pure": false
          }
        ]
      ]
    }
  },
  "plugins": [
    "@babel/plugin-transform-runtime",
    "@babel/proposal-class-properties",
    "@babel/proposal-object-rest-spread",
    "@loadable/babel-plugin"
  ]
}
