image: yigityesilpinar/docker-node:latest

variables:
  PROJECT_USERNAME: 'yigityesilpinar'
  RELEASE_BRANCH: 'master'
  GCLOUD_DOCKER_IMAGE: 'gcr.io/$GCLOUD_PROJECT_ID/web'
  GCLOUD_SECRETS_FILEPATH: './gcloud-service-key.json'
  VERSION_FILEPATH: './build/version.txt'
  DOCKER_HOST: tcp://docker:2375
  DOCKER_TLS_CERTDIR: ''

services:
  - docker:19.03.11-dind

before_script:
  - docker info

cache: &global_cache
  key:
    files:
      - package-lock.json
  paths:
    - node_modules/
  policy: pull-push

stages:
  - install
  - lint
  - build
  - version
  - deploy

.pullNode:
  cache:
    # inherit all global cache settings
    <<: *global_cache
    # override the policy
    policy: pull

install:
  stage: install
  cache:
    # inherit all global cache settings
    <<: *global_cache
    # override the policy
    policy: pull-push
  script:
    - npm install

lint:type:check:
  stage: lint
  extends: .pullNode
  script:
    - npm run type:check

lint:lint:
  stage: lint
  extends: .pullNode
  script:
    - npm run lint

build:
  stage: build
  extends: .pullNode
  artifacts:
    paths:
      - build/
    expire_in: 30 mins
  script:
    - npm run build

version:
  stage: version
  extends: .pullNode
  only:
    - $RELEASE_BRANCH
  dependencies:
    - build
  artifacts:
    paths:
      - build/
    expire_in: 30 mins
  script:
    # find the latest tag and generate next version into $VERSION_FILEPATH
    - npm run generateVersion
    # update package.json version (and lock file) only
    - npm version --no-git-tag-version $( cat $VERSION_FILEPATH )
    # prepare git ssh and push the new version (tag)
    - echo "${CI_DEPLOY_KEY}" > /root/.ssh/id_rsa && chmod 400 /root/.ssh/id_rsa
    - ssh-keyscan gitlab.com >> /root/.ssh/known_hosts
    - git commit -am "CI version tag $( cat $VERSION_FILEPATH )"
    - git tag $( cat $VERSION_FILEPATH )
    - git remote set-url origin "git@gitlab.com:$PROJECT_USERNAME/$CI_PROJECT_NAME.git"
    - git push origin $RELEASE_BRANCH -o ci.skip
    - git push origin $( cat $VERSION_FILEPATH ) -o ci.skip

deploy:
  stage: deploy
  only:
    - $RELEASE_BRANCH
  dependencies:
    - version
  script:
    # prepare auth for gcloud
    - IMAGE_TAG=$( cat $VERSION_FILEPATH )
    - echo $GCLOUD_SERVICE_KEY > $GCLOUD_SECRETS_FILEPATH
    - /google-cloud-sdk/bin/gcloud auth activate-service-account --key-file $GCLOUD_SECRETS_FILEPATH
    # build docker image
    - docker build -t $GCLOUD_DOCKER_IMAGE:$IMAGE_TAG .
    - docker login -u _json_key --password-stdin https://gcr.io < $GCLOUD_SECRETS_FILEPATH
    - docker push $GCLOUD_DOCKER_IMAGE:$IMAGE_TAG
  tags:
    - docker
